@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.magic-letter,
.magic-letter-slide {
    background: linear-gradient(#ff7e5f, #feb47b);
    color: #3b2a14;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(7, 5, 0, 0.8);
    font-family: 'IM Fell English SC', serif;
    width: 90%;
    height: 80%;
    max-width: 900px;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.5;
    position: relative;
    overflow-y: auto;
}

.magic-letter h1,
.magic-letter-slide h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.5em;
}

.cursor {
    display: inline-block;
    width: 8px;
    background: #3b2a14;
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* Destellos */

.sparkle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: gold;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px #fff, 0 0 20px #ffecb3, 0 0 30px #ffecb3;
    animation: sparkle 1s ease-out forwards;
}

@keyframes sparkle {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}